<html>
<head>
{% load static %}{% static "" as baseurl %}
<title>homepage</title>
</head>
<h1 style="background-color: burlywood; color:brown; text-align: center;" >
    TASK MANAGER
</h1>
<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit", name="Create Task">
</form>
{% for task in tasks %}
<div>
    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete' task.id %}">Delete</a>
     <p>{{task}}</p>
</div>
{% endfor %}
</html>
